# VS

ipch
Debug
x64
*.opensdf
*.sdf
*.suo
*.user

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

GeneratedFiles
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave
.DS_Store
*.app

# MacOS
*.xcodeproj
*.plist
